@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "azonix";
        font-style: normal;
        font-display: swap;
        src: url("./assets/fonts/Azonix-1VB0.otf");
    }
    @font-face {
        font-family: "cantarell";
        font-style: normal;
        font-display: swap;
        src: url("./assets/fonts/Cantarell-Regular.otf");
    }
}

.custom-background {
    background: url("./assets/bg.svg");
}
